h1 {
    color: black;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}
li {
    color: blueviolet;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    text-align: center;
}