li {
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
    border: 5px;
    color: transparent;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    text-align: center;
}
.introduction{
    box-sizing: border-box;
    color: black;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: 33px;
    text-align: center;
}