
.introduction{
    box-sizing: border-box;
    color: black;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: 33px;
    text-align: center;
}
body {
    background: linear-gradient(222deg, #f1adad, #DDEFBB);
    height: 100vh;
}
.links{
    color: transparent;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    text-align: center;
}